.channels-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.channel-container{
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    margin-left: 5px;
    display: grid;
    /* grid-template-columns: 3fr 0fr;  */
}